<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
          rel="stylesheet"/>


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Title</title>
    <link href='{{ url_for("static", filename="home.css") }}' rel="stylesheet">

    <style>
        button {
            width: 100px;
            margin: 0 auto;
        }
    </style>
    <script>

        function getPosts() {
            $('#cards-wrapper').empty()
            let keyword = $('#search-keyword').val()
            console.log(keyword)
            $.ajax({
                type: "POST",
                url: `/home/posts`,
                data: {
                    keyword_give: keyword
                },
                success: function (response) {
                    let posts = response.posts
                    for (i=0; i < posts.length; i++) {
                        let post = posts[i]
                        let temp_html = `
                        <div id="card-wrapper">
                            <div id="card-component">
                                <div class="card-1">
                                    <img
                                            class="card-img-top"
                                            src="${post['img-url']}"
                                            alt="Card image cap"
                                    />
                                    <div class="card-body">
                                        <a target="_blank" href="#" class="card-title"
                                        >${post.title}</a
                                        >
                                        <p class="card-text">${post.user} <span>${post.view}</span></p>
                                        <p class="card-text comment">리뷰수 <b>${post.review}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>`

                        $('#cards-wrapper').append(temp_html)
                    }
                }
        });
        }

    </script>
</head>
<body>
<input id="search-keyword"type="text">
<button onclick="getPosts()">검색</button>
<div id="cards-wrapper"></div>
</body>
</html>